<style>
    .btn-success{
        background: #96caef;
    }

</style>
<table class="table table-bordered" id="tags">

    <tr>
        <td>
            {foreach name="list" item="vo" }
                <button type="button" data-tag_id='{$vo[tag_id]}' class="btn <?php
                             if(in_array($vo[tag_id],$tags))
                                    echo 'btn-success';
                             else
                                echo 'btn-default';
                             ?>" >
                    {$vo['tag_name']}
                </button>
            {/foreach}


                <input type="text" maxlength="10"  name="tag" id="tag" placeholder="标签名称" class="form-control" style="width:60px;vertical-align: middle;display: initial;">
                &nbsp;&nbsp;
                <a href="javascript:void(0);"  onclick="addTag()">添加</a>
                <a href="javascript:void(0);"  onclick="delTag()">删除</a>
        </td>
    </tr>                                    

</table>

<script>
    // 添加规格
	function addTag(){

        var tag = $('#tag').val();
        var type = $('input[name="type"]:checked').val();

		if(tag.length == 0)
		{
			layer.alert('请输入值', {icon: 2});  //alert('删除失败');
			return false;
		}

		$.ajax({

				type:'POST',
				data:{'tag_name':tag,'type':type},
				dataType:'json',
				url:"/addTag",
				success:function(data){
				    console.log(data);
					   if(data.status < 0)
					   {
						   layer.alert(data.msg, {icon: 2});
					   }else{
                           getTag(type);
					   }
				}

		});


	}

    // 删除规格
	function delTag(){
        var tag = $('#tag').val();
        var type = $('input[name="type"]:checked').val();

        if(tag.length == 0)
        {
            layer.alert('请输入值', {icon: 2});  //alert('删除失败');
            return false;
        }

        $.ajax({

            type:'POST',
            data:{'tag_name':tag,'type':type},
            dataType:'json',
            url:"/delTag",
            success:function(data){
                if(data.status < 0)
                {
                    layer.alert(data.msg, {icon: 2});
                }else{
                    getTag(type);
                }
            }

        });

	}


   // 按钮切换 class
   $("#ajax_tags button").click(function(){

	   if($(this).hasClass('btn-success'))
	   {
		   $(this).removeClass('btn-success');
		   $(this).addClass('btn-default');
	   }
	   else
	   {
		   $(this).removeClass('btn-default');
		   $(this).addClass('btn-success');
	   }
       ajaxGetInput();
});
	

/**
*  点击商品规格处罚 下面输入框显示
*/
function ajaxGetInput()
{
    var html = '';
    $("#tags  button").each(function(){
        if($(this).hasClass('btn-success'))
        {
		    html += '<input type="hidden" name="tag[]" value="'+$(this).data('tag_id')+'" />'

		}
	});
    $('#useTag').empty().html(html);

}

</script>
