<!DOCTYPE HTML>
<html lang="en">
<!-- HTML5头文件 -->
<include file="public/head"/>


<!-- HTML5头文件 -->
<body>
<!-- End Header -->
<include file="public/header"/>
<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<div class="intro">有人说：“生命中绝大部分的所遇所思不过像蒲公英一样，飘然而来，飘然而去，全然不留一丝痕迹，但生命中却有些真挚的东西值得收藏。”曾经的军旅生涯、经历过的酸甜苦辣，锤炼过我的意志，洗涤过我灵魂，虽然被生活磨平身上的棱角，但我愿意将这些最难忘、刻骨的记忆收藏。使他牢牢的占据我的心--这些经历将是我生命中的珍宝 </div>
<ul class="social">
</ul><!-- End Intro --> 

<!-- Begin Container -->
<div class="content box">

	<h1 class="title"></h1>
	<img src="__PUBLIC__/Upload/img/my.jpg" alt="">
<div class="clear"></div>
<br>
<h3>给我留言:</h3>
<p>如果有需要,您可以随时联系到我.</p>

<div class="form-container">
	<form class="forms" action="" method="post">

		<fieldset>
			<ol>
				<li class="form-row text-input-row"><label>姓名：</label><input type="text" name="name"  class="text-input required"  /></li> 
				<li class="form-row text-input-row"><label>Email：</label><input type="text" name="email"  class="text-input required email" /></li> 
				<li class="form-row text-input-row"><label>标题：</label><input type="text" name="title"  class="text-input required" title="" /></li> 
				<li class="form-row text-area-row"><label>留言：</label><textarea name="message" class="text-area required"></textarea></li> 
				<li class="button-row"><input type="submit" value=" 提交" class="btn-submit" /></li>
			</ol>
		</fieldset>
	</form>
</div>



</div>
<!-- End Container -->

<!-- Begin Sidebar -->
<div class="sidebar box">
  <div class="sidebox widget">
			<h3 class="widget-title">关于我</h3>
			<p> 奋斗，前行，学习，进步。。。</p>
			<p>
				<table>
					<tr>
						<td><span class="lite1">Nick: </span></td>
						<td>寜 | Ning<br /></td>
					</tr>
					<tr>
						<td><span class="lite1">QQ: </span></td>
						<td>976383555</td>
					</tr>
					<tr>
						<td><span class="lite1">Tel: </span></td>
						<td>18668418888</td>
					</tr>
					<tr>
						<td><span class="lite1">E-mail: </span></td>
						<td>nk11@qq.com</td>
					</tr>
				</table>
			</p>
			
	</div>
	
	<div class="sidebox widget">
		<h3 class="widget-title">说明：</h3>
		<p>每个人都是自己那部电影的主角,每个人都是自己那部作品的英雄,我也不例外,或许我曾经是个Loser,但是我想我可以站起来.活到老,学到老,前进的脚步永不停止...</p>
	</div>
	
</div>
<!--End Sidebar -->
<div class="clear"></div>

</div>
<!-- End Wrapper -->

<!-- Begin Footer -->
<include file="public/footer"/>
<!-- End Footer --> 
</body>
</html>