<!DOCTYPE HTML>
<html lang="en">

<include file="public/head"/>

<body>
<!-- Begin Header -->
<include file="public/header"/>
<!-- End Header -->

<!-- Begin Wrapper -->
<div class="wrapper">
<!-- Begin Intro -->
<div class="intro">人生路上,我们都是孤独的行者,如人饮水,冷暖自知真正能帮你的,永远只有你自己 </div>
<!-- End Intro -->


<!-- Begin Blog Grid -->
<div class="blog-wrap">
	<!-- Begin Blog -->
	<div class="blog-grid">

		<!-- Begin Audio Format -->
		<div class="post format-audio box">
			<div class="audio-wrapper">
				<div class="vinyl">
					<dl>
						<dt class="art">
							<img class="highlight" src="__PUBLIC__/Home/images/vinyl.png" />
							<img src="__PUBLIC__/Home/images/art/yyn.png" alt="乐与怒" />
						</dt>
						<dd class="song"><div class="icon-song"></div>海阔天空 </dd>
						<dd class="artist"><div class="icon-artist"></div> Beyond</dd>
						<dd class="album"><div class="icon-album"></div> 1993《乐与怒》</dd>
					</dl>
				</div>
				<div class="clear"></div>
				<div class="audio">
					<audio controls="" preload="none" src="__PUBLIC__\Upload\music\dk.mp3"></audio>
				</div>
			</div>
			<p>1992年，Beyond将事业发展重心移至日本，同时结束了与新艺宝长期合作的关系。成为国际化的乐队一直是Beyond的梦想，不过由于日本对于音乐制作上的严格要求，加上语言不通，Beyond颇为消沉了一阵子，但他们仍然十分努力 。1993年5月底，Beyond从日本返回到了香港，这一年也正值Beyond成立十周年之际，于是黄家驹写下了这首记录Beyond十年心路历程的歌曲《海阔天空》，歌词承载了黄家驹与乐队赴日本发展的艰辛与对理想的坚持  ，并收录在粤语专辑《乐与怒》中。这首歌曲也表达了黄家驹内心深处对香港乐坛的挣扎和失望。</p>

			<div class="details">
				<span class="icon-audio"><a href="#">2015/8/15</a></span>
				<span class="likes"><a href="#" class="likeThis">156</a></span>
				<span class="comments"><a href="#">75</a></span>
			</div>

		</div>
		<!-- End Audio Format -->



		<!-- Begin Quote Format -->
		<div class="post format-quote box">
			<blockquote>{$quote['content']}</cite></blockquote>
			<div class="details">
				<span class="icon-quote"><a href="#">{$quote['pubtime']|date="Y/m/d,###"}</a></span>
				<span class="likes"><a href="#" class="likeThis">{$quote['likethis']}</a></span>
				<span class="comments"><a href="#">{$quote['click_count']}</a></span>
			</div>
		</div>
		<!-- End Quote Format -->


		<!-- Begin Image Format -->
		{foreach name="blog" item="blog1"}

		<div class="post format-image box">
		  <if condition ="$blog1['thumb_img1'] neq ''">
			<div class="frame">
				<a href="{Url('art',['id'=>$blog1['blog_id']])}">
					<img src="{$blog1['thumb_img1']}" alt="{$blog1['title']}" />
				</a>
			</div>
		  </if>
			<h2 class="title"><a href="{Url('art',['id'=>$blog1['blog_id']])}">{$blog1['title']}</a></h2>
			<p> {$blog1['intro']}</p>
			<div class="details">
				<span class="icon-image"><a href="#">{$blog1['pubtime']|date="Y/m/d,###"}</a></span>
				<span class="likes"><a href="javascript:void(0)" onclick="blikes({$blog1['blog_id']})" id="b{$blog1['blog_id']}">{$blog1['likethis']}<span class="addone"></span></a></span>
				<span class="comments"><a href="{Url('art',['id'=>$blog1['blog_id']])}#respond" class="likeThis">{$blog1['click_count']}</a></span>
			</div>

		</div>
		{/foreach}

		<!-- End Image Format -->


		<!-- Begin Video Format -->
		<div class="post format-video box">
			<!-- 自动播放<div class="video frame"><iframe src="__PUBLIC__/Upload/veido/a1.mp4" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div> -->
			<h2 class="title"><a href="__PUBLIC__/Upload/veido/a1.mp4">最美中国大爷</a></h2>
			<video width="100%" height="281" src="__PUBLIC__/Upload/veido/a1.mp4" type="video/mp4"id="player2" poster="__PUBLIC__/Home/images/mv.png" controls="controls" preload="none"></video>
			<p>王德顺，1936年出生于沈阳，人体艺术大师、电影演员。
1960年，王德顺开始做话剧演员。1985年，王德顺开始研究形体哑剧。1987年，王德顺将中国的哑剧带上世界哑剧舞台；1993年，王德顺创造“活雕塑”。2003年，王德顺参演何平执导《天地英雄》。2008年,王德顺参演张新建执导《闯关东》，2012年,王德顺参演张扬执导《飞越老人院》。2014年，王德顺参演董阿成执导电影《判若云泥》，并入围萨兰托电影节[2]  。2015年，王德顺参演陈正道执导《重返20岁》； 3月25日，王德顺在中国国际时装周在北京798艺术中心上演，因79岁的王德顺身材没有走样，精神矍铄，其光膀走秀的图片昨天爆红网络。</p>

			<div class="details">
				<span class="icon-video"><a href="#">2016/10/15</a></span>
				<span class="likes"><a href="#" class="likeThis">18</a></span>
				<span class="comments"><a href="#">25</a></span>
			</div>

		</div>
		<!-- End Video Format -->


 		<!-- Begin Standard Format -->
 		<div class="post format-standard box">

			<h2 class="title"><a href="{Url('fullwith',['id'=>$blog2['tech_id']])}">{$blog2['title']}</a></h2>
			{$blog2['intro']}

			<div class="details">
				<span class="icon-standard"><a href="#">{$blog2['pubtime']|date="Y/m/d,###"}</a></span>
				<span class="likes"><a href="javascript:void(0)" id = "t{$blog2['tech_id']}" onclick = "tlike({$blog2['tech_id']})" >{$blog2['likethis']}</a></span><span class="addone"></span>
				<span class="comments"><a href="{Url('fullwith',['id'=>$blog2['tech_id']])}#respond">{$blog2['click_count']}</a></span>
			</div>



		</div>

		<!-- End Standard Format -->


		<!-- Begin Link Format -->
		<div class="post format-link box">

			<h2 class="title">内涵段子<span class="arrow">&rarr;</span></h2>
			<p>{$dz['text']}</p>

			<div class="details">
				<span class="icon-link"><a href="#">{$dz['create_time']}</a></span>
				<span class="likes"><a href="#" class="likeThis">{$dz['love']}</a></span>
				<span class="comments"><a href="#">{$dz['hate']}</a></span>
			</div>

		</div>
		<!-- End Link Format -->


		<!-- Begin Chat Format -->
		<foreach name="blogs3" item="blog3">
		<div class="post format-chat box">
			<div class="con">
			<h2 class="title"><a href="{Url('fullwith',['id'=>$blog3['tech_id']])}">{$blog3['title']}</a></h2>
			{$blog3['tech_content']}
			</div>
			<div class="details">
				<span class="icon-chat"><a href="#">{$blog3['pubtime']|date="Y/m/d,###"}</a></span>
				<span class="likes"><a href="javascript:void(0)" onclick="tlike({$blog3['tech_id']})" id = "t{$blog3['tech_id']}">{$blog3['likethis']}<span class="addone"></span></a></span>
				<span class="comments"><a href="{Url('fullwith',['id'=>$blog3['tech_id']])}#respond">{$blog3['click_count']}</a></span>
			</div>

		</div>
		</foreach>
		<!-- End Chat Format -->

 	</div>

	<!-- End Blog -->

</div>
<!-- End Blog Grid -->

</div>
<!-- End Wrapper -->

<!-- Begin Footer -->
<include file="public/footer"/>
<!-- End Footer -->

</body>
</html>
