<!DOCTYPE HTML>
<html lang="en">
<!-- HTML5头文件 -->
{include file="public/head"/}


<!-- HTML5头文件 -->
<body>
<!-- End Header -->
{include file="public/header"/}
<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->

</ul><!-- End Intro --> 

<!-- Begin Container -->
<div class="post format-quote box" style="max-width: 400px; min-height: 500px; margin: 0 auto;">

</div>


<!-- End Container -->

	
	
<!--End Sidebar -->
<div class="clear"></div>

</div>
<!-- End Wrapper -->

<!-- Begin Footer -->
{include file="public/footer"/}
<!-- End Footer --> 
</body>
</html>