<!DOCTYPE HTML>
<html lang="en">
<!-- HTML5头文件 -->
<include file="public/head"/>
<!-- HTML5头文件 -->
<body>
<!-- Begin Header -->
<include file="public/header"/>
<!-- End Header -->

<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<div class="intro">时光,总是那么的匆匆,无论怎样努力始终留不住,但我想悄悄的将时光的痕迹留下 ...</div>
<!-- End Intro --> 

<!-- Begin Container -->
<div class="box">

	<div class="one-sixth">
		<div class="sidebox widget">
			<h3 class="widget-title">相册分类</h3>
			<ul>
				<li><a href=""></a></li>
			  	<li><a href=""></a></li>
			  	<li><a href=""></a></li>
			  	<li><a href="">....</a></li>
			  	<li><a href="">Linux</a></li>
			</ul>
		</div>
	</div>

	<div class="five-fifth last">
		<h3 class="widget-title">相册名称</h3>
			<div class="box">
			<h3 class="widget-title"></h3>
			
			  		<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-1.jpg" /></a>
			  		</div>
				 
			  		<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-2.jpg" /></a>
			  		</div>
				 
			  		<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-3.jpg" /></a>
			  		</div>
				 
			  		<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-4.jpg" /></a>
			  		</div>
				 
			  		<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-5.jpg" /></a>
			  		</div>
				 	<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-6.jpg" /></a>
			  		</div>
				  	<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-7.jpg" /></a>
			  		</div>
			  		<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-8.jpg" /></a>
			  		</div>
				 
			  		<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-9.jpg" /></a>
			  		</div>
				 
			  		<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-3.jpg" /></a>
			  		</div>
				 
			  		<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-4.jpg" /></a>
			  		</div>
				 
			  		<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-5.jpg" /></a>
			  		</div>
				 	<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-6.jpg" /></a>
			  		</div>
				  	<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-7.jpg" /></a>
			  		</div>	
			  		<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-6.jpg" /></a>
			  		</div>
				  	<div class="frame"style="display: inline-block;">
			  			<a href="#"><img src="__PUBLIC__/Home/images1/portfolio-7.jpg" /></a>

			  		</div>	
			  			 			
			<div class="post-nav">
				<span class="nav-prev"><a href="#">&lt; Prev</a></span>
				<span class="nav-next"><a href="#">Next &gt;</a></span>
				<div class="clear"></div>
			</div>
			</div>
	</div>
<!-- End Container -->

</div>
<!-- End Wrapper -->

<!-- Begin Footer -->
<include file="public/footer"/>
<!-- End Footer --> 
<script type="text/javascript" src="style/js/scripts.js"></script>
</body>
</html>